.paginado{
    display: flex;
    margin-left: 594%;
}
.number{
    margin-right: 100%;
    
}

.nave{
    width: 100%;
    display: flex;
    margin-top: 266PX;
    margin-left: -252%;
    margin-right: 94%;
    
    
    
}


a:hover{
    cursor: pointer;
    color: blue;
    
}