.home{
    padding-bottom: 25px;
}
h1{
    margin-bottom: 78px;
}

h4{
    color:black;
}
.filtros{
    display: flex;
    height: 25vh;
}

.abc, .tipos, .created, .ataque{
    width: 33.33%;
    height: 100%;
}
.pokedex{
    color: black;
}