.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 15px;
    border: 1px solid black;
    
}

a{
    color: white;
    font-weight: bold;
    transition: all 0.5s ease-in-out; /* Transición suave para la animación */
}

a:hover{
    color: white;
    font-weight: bold;
    transform: scale(1.2); /* Zoom en el texto al hacer hover */
}